<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
       {{ title }}!
    </h1>
</div>

  <h3 style="text-align:center">

    <!-- DEFAULT PAGE LINK -->
    <!-- <a routerLink="/login" >
         Login
    </a> <br>


    <a routerLink="/register" >
          Register
    </a><br>
    <br><br><br>
    PROJECT LINKS <br> -->
    <!-- PROJECT PAGE LINK -->
    <a routerLink="/insert" >
         INSERT
    </a> <br>
    <a routerLink="/update" >
          UPDATE
    </a><br>
    <a routerLink="/view" >
          VIEW
    </a><br>
    <a routerLink="/subject" >
         INSERT SUBJECT
    </a> <br>
    <a routerLink="/mark" >
          INSERT MARK
    </a><br>
    <a routerLink="/sortlist" >
          VIEW SORTLIST
    </a><br>
  </h3>
    

<router-outlet></router-outlet>