<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <h1 style="text-align:center">UPDATE</h1>

      REGISTER NUMBER: <input class="form-control" type="text" [(ngModel)]="user.REGISTER_NUMBER"><br>
      NAME: <input class="form-control" type="text" [(ngModel)]="user.NAME"><br>
      DOB: <input class="form-control" type="text" [(ngModel)]="user.DOB"><br>
      GENDER: <input class="form-control" type="text" [(ngModel)]="user.GENDER"><br>


      BLOOD_GROUP: <input class="form-control" type="text" [(ngModel)]="user.BLOOD_GROUP"><br>
      BANK_ACCOUNT_NUMBER: <input class="form-control" type="text" [(ngModel)]="user.BANK_ACCOUNT_NUMBER"><br>
      AADHAR_CARD_NUMBER: <input class="form-control" type="text" [(ngModel)]="user.AADHAR_CARD_NUMBER"><br>
      STUDENT_CONTACT_NUMBER: <input class="form-control" type="text" [(ngModel)]="user.STUDENT_CONTACT_NUMBER"><br>
      POSTAL_ACCOUNT_NUMBER: <input class="form-control" type="text" [(ngModel)]="user.POSTAL_ACCOUNT_NUMBER"><br>
      RELIGION: <input class="form-control" type="text" [(ngModel)]="user.RELIGIONRELIGION"><br>
      CASTE: <input class="form-control" type="text" [(ngModel)]="user.CASTE"><br>
      PLACE_OF_ARRIVAL: <input class="form-control" type="text" [(ngModel)]="user.PLACE_OF_ARRIVAL"><br>
      TRAVEL_MODE: <input class="form-control" type="text" [(ngModel)]="user.TRAVEL_MODE"><br>
      NUMBER_OF_SIBLINGS:<input class="form-control" type="text" [(ngModel)]="user.NUMBER_OF_SIBLINGS"><br>
      FATHER_NAME: <input class="form-control" type="text" [(ngModel)]="user.FATHER_NAME"><br>
      MOTHER_NAME: <input class="form-control" type="text" [(ngModel)]="user.MOTHER_NAME"><br>
      FATHER_OCCUPATION: <input class="form-control" type="text" [(ngModel)]="user.FATHER_OCCUPATION"><br>
      MOTHER_OCCUPATION: <input class="form-control" type="text" [(ngModel)]="user.MOTHER_OCCUPATION"><br>
      ANNUAL_INCOME: <input class="form-control" type="text" [(ngModel)]="user.ANNUAL_INCOME"><br>
      PARENT_EMAIL_ID: <input class="form-control" type="text" [(ngModel)]="user.PARENT_EMAIL_ID"><br>
      ADDRESS: <input class="form-control" type="text" [(ngModel)]="user.ADDRESS"><br>

      PARENT_CONTACT_NUMBER: <input class="form-control" type="text" [(ngModel)]="user.PARENT_CONTACT_NUMBER"><br>
      SCHOOL_NAME: <input class="form-control" type="text" [(ngModel)]="user.SCHOOL_NAME"><br>
      TENTH_MARK: <input class="form-control" type="text" [(ngModel)]="user.TENTH_MARK"><br>
      TENTH_PERCENTAGE: <input class="form-control" type="text" [(ngModel)]="user.TENTH_PERCENTAGE"><br>
      TENTH_BOARD: <input class="form-control" type="text" [(ngModel)]="user.TENTH_BOARD"><br>
      TWELTH_MARK: <input class="form-control" type="text" [(ngModel)]="user.TWELTH_MARK"><br>
      TWELTH_PERCENTAGE: <input class="form-control" type="text" [(ngModel)]="user.TWELTH_PERCENTAGE"><br>
      TWELTH_BOARD: <input class="form-control" type="text" [(ngModel)]="user.TWELTH_BOARD"><br>
      CUT_OF_MARK: <input class="form-control" type="text" [(ngModel)]="user.CUT_OF_MARK"><br>
      DATE_OF_ADMISSION: <input class="form-control" type="text" [(ngModel)]="user.DATE_OF_ADMISSION"><br>
      FIRSTGRADUATE: <input class="form-control" type="text" [(ngModel)]="user.FIRSTGRADUATE"><br>
      QUOTA: <input class="form-control" type="text" [(ngModel)]="user.QUOTA"><br>
      SCHOLARSHIP: <input class="form-control" type="text" [(ngModel)]="user.SCHOLARSHIP"><br>
      LAST_SEMESTER_CGPA: <input class="form-control" type="text" [(ngModel)]="user.LAST_SEMESTER_CGPA"><br>

      <button class="btn btn-dark" style="background-color: darkslategray;color:white;" (click)="update()"> UPDATE </button>
    </div>
    <div class="col-sm-3"></div>
</div>



<!-- {{user.userName}}
{{user.password}} -->