
<!-- 

	DEFAULT REGISTER PAGE
<h1 style="text-align:center">Register</h1>
Name: <input type="text" [(ngModel)]="user.userName"><br>
Password: <input type="Password" [(ngModel)]="user.password"><br>



<button (click)="onSubmit()"> click </button>

{{user.userName}}
{{user.password}}

 -->

 <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">

        <h1 style="text-align:center">INSERT DATA</h1>
NAME: <input    type="text" [(ngModel)]="user.NAME"><br>
REGISTER_NUMBER: <input   type="text" [(ngModel)]="user.REGISTER_NUMBER"><br>
DOB: <input   type="text" [(ngModel)]="user.DOB"><br>
GENDER: <input   type="text" [(ngModel)]="user.GENDER"><br>
BLOOD_GROUP: <input   type="text" [(ngModel)]="user.BLOOD_GROUP"><br>
AADHAR_CARD_NUMBER: <input   type="text" [(ngModel)]="user.AADHAR_CARD_NUMBER"><br>
BANK_ACCOUNT_NUMBER: <input   type="text" [(ngModel)]="user.BANK_ACCOUNT_NUMBER"><br>
STUDENT_CONTACT_NUMBER: <input   type="text" [(ngModel)]="user.STUDENT_CONTACT_NUMBER"><br>
POSTAL_ACCOUNT_NUMBER: <input   type="text" [(ngModel)]="user.POSTAL_ACCOUNT_NUMBER"><br>
RELIGION: <input   type="text" [(ngModel)]="user.RELIGION"><br>
CASTE: <input   type="text" [(ngModel)]="user.CASTE"><br>
PLACE_OF_ARRIVAL: <input   type="text" [(ngModel)]="user.PLACE_OF_ARRIVAL"><br>
TRAVEL_MODE: <input   type="text" [(ngModel)]="user.TRAVEL_MODE"><br>
NUMBER_OF_SIBLINGS: <input   type="text" [(ngModel)]="user.NUMBER_OF_SIBLINGS"><br>
FATHER_NAME: <input   type="text" [(ngModel)]="user.FATHER_NAME"><br>
MOTHER_NAME: <input   type="text" [(ngModel)]="user.MOTHER_NAME"><br>
FATHER_OCCUPATION: <input   type="text" [(ngModel)]="user.FATHER_OCCUPATION"><br>
MOTHER_OCCUPATION: <input   type="text" [(ngModel)]="user.MOTHER_OCCUPATION"><br>
ANNUAL_INCOME: <input   type="text" [(ngModel)]="user.ANNUAL_INCOME"><br>
PARENT_EMAIL_ID: <input   type="text" [(ngModel)]="user.PARENT_EMAIL_ID"><br>
ADDRESS: <input   type="text" [(ngModel)]="user.ADDRESS"><br>
PARENT_CONTACT_NUMBER: <input    type="text" [(ngModel)]="user.PARENT_CONTACT_NUMBER"><br>
SCHOOL_NAME: <input   type="text" [(ngModel)]="user.SCHOOL_NAME"><br>
TENTH_MARK: <input   type="text" [(ngModel)]="user.TENTH_MARK"><br>
TENTH_PERCENTAGE: <input   type="text" [(ngModel)]="user.TENTH_PERCENTAGE"><br>
TENTH_BOARD: <input   type="text" [(ngModel)]="user.TENTH_BOARD"><br>
TWELTH_MARK: <input   type="text" [(ngModel)]="user.TWELTH_MARK"><br>
TWELTH_PERCENTAGE: <input   type="text" [(ngModel)]="user.TWELTH_PERCENTAGE"><br>
TWELTH_BOARD: <input   type="text" [(ngModel)]="user.TWELTH_BOARD"><br>
CUT_OF_MARK: <input   type="text" [(ngModel)]="user.CUT_OF_MARK"><br>
DATE_OF_ADMISSION: <input   type="text" [(ngModel)]="user.DATE_OF_ADMISSION"><br>
FIRSTGRADUATE: <input   type="text" [(ngModel)]="user.FIRSTGRADUATE"><br>
QUOTA: <input   type="text" [(ngModel)]="user.QUOTA"><br>
SCHOLARSHIP: <input   type="text" [(ngModel)]="user.SCHOLARSHIP"><br>
LAST_SEMESTER_CGPA: <input   type="text" [(ngModel)]="user.LAST_SEMESTER_CGPA"><br>


<button class="btn btn-dark" style="background-color: darkslategray;" (click)="onSubmit()">INSERT</button>

    </div>
    <div class="col-sm-3"></div>
  </div>



<!-- {{user.userName}}
{{user.password}} -->

